

.box {
    background-color:#573B0C;
    color: green;
    border-radius: 5px;
    padding: 20px;
    font-size: 180%;
    border: black 1px solid;
  }

.box:hover{
    border: green 1px solid;
    font-size: 200%;
}
.active {
    border: 5px grey solid;
}
  
  .wrapper {
    
    width: 600px;
    display: grid;
    grid-gap: 10px;
    margin: auto;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(5, 100px);
    grid-auto-flow: row;
    margin-bottom: 100px;
  }

  #plantSelection{
 
      width: 550px;
      margin-left: 40px;
      margin: auto; 
      margin-top: 10px;
      margin-bottom: 30px;
      /* background-color: #573B0C; */


  }

  .plants{
      margin-left: 16px;
      margin-top: 20px;

  }

  .btn-custom {
      background-color: purple;
      color: white;
  }
  .tomatoes{
      background-color: red;
      color: black;

  }

  .corn{
      background-color: yellow;
      color: black;
  }

  .lettuce {
      background-color: green;
      color: black;
  }

  .blueberries {
      background-color: blue;
      color: black;
  }

  .eggplants {
      background-color: purple;
      color: black;
  }

  .infected {
      background-color: black;
      color: yellow;
  }